services:
  - type: web
    name: wanderlust-app
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node app.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: ATLASDB_URL
        sync: false
      - key: CLOUD_NAME
        sync: false
      - key: CLOUD_API_KEY
        sync: false
      - key: CLOUD_API_SECRET
        sync: false
      - key: SECRET
        sync: false
      - key: MAP_TOKEN
        sync: false
      - key: GEMINI_API_KEY
        sync: false
